<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/img/logo/animate-logo.gif" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-main">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbar-main" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/main">
          Home
        </a>
  
        <a class="navbar-item" href="/gigs">
          Gig List
        </a>

        <a class="navbar-item" href="/newgig">
          Post a Job
        </a>
  
      </div>
  
      <% if (authUser) { %>
        <div class="navbar-end">
          <div class="navbar-item">
            Hello&nbsp;<strong><span style="color:white"> <%= authUser.firstName %></style></strong>!
          </div>
          <div class="navbar-item">
            <div class="buttons">
              <a id="profile-btn" class="button" href="/profile">
                Profile
              </a>
              <form action="/main/logout" method="POST">
              <input class="button is-light" type="submit" value="Logout"/>
            </form>
            </div>
          </div>
        </div>
      <% } else { %>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a id="sign-up-btn" class="button" href="/register">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/login">
              Log in
            </a>
          </div>
        </div>
      </div>
    <% } %>
    </div>
  </nav>