body, html {
    height: 100%;
    background-image: url("./img/bg.jpg");
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}

#art {
    display: flex;
    justify-content: center;
}

aside {
    margin: 2em 2em 3.5em 0;
    border-style: solid;
}

.img-responsive {
    max-width: 20%;
    height: auto;
    border-radius: 50%;
}

.login {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.latest {
    text-align: center;
}

.columns {
    display: flex;
}

#error {
    color: red;
}

.main-art {
    margin: 2em;
}

.posting {
    border-radius: 25px;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.posting a {
    text-decoration: none;
    color: inherit;
}

.p-date {
    font-size: 75%;
}

#tile-cont {
    display: flex;
    flex-wrap: wrap;
    margin: 5em;
}

.gig-tiles {
    flex: 1 0 21%;
    max-width: 21%;
    padding: 1em;
    margin: 1em;
    border-radius: 25px;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.gig-tiles a {
    text-decoration: none;
    color: inherit;
}

.gig-form {
    width: 50%;
}

.tabcontent {
    display: none;
}

#profile {
    display: block;
}

.posted-gigs {
    flex: 1 0 40%;
    max-width: 40%;
    padding: 1em;
    margin: 1em;
    border-radius: 25px;
    background-color: hsla(0, 0%, 100%, 0.5);
    margin: 2em;
}

#posted-gigs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.your-title {
    flex: 1 0 100%;
    text-align: center;
}