<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>

    <header>
        <%- include('../partials/header') %> 
    </header>

    <main>

       <article class="mt-4">
        
       </article>

       <aside>...</aside>
        
    </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>

  <!-- possible some script partials here -->
  <script> <%- include('../../public/scripts/navbar.js') %> </script>

  </body>
</html>